In [1]:
word='school'
word2='SCHOOL'
word3='python is fun'
word4='    info@gmail.com'

In [2]:
print(word.upper())

SCHOOL

In [3]:
print(word2.lower())

school

In [4]:
print(word3.title())

Python Is Fun

In [6]:
print(word3.capitalize())

Python is fun

In [7]:
print(word3.split())

['python', 'is', 'fun']

In [8]:
print(word4.strip())

info@gmail.com

# int datatype can be converted to float or string
# float datatype can be converted to int or string
# string datatype cannot be converted to int or float except it is a digit that is passed in that string

In [10]:
num1=int(12.5) # this is an implicit convertion method
print(num1)

12

In [11]:
num2=23.8
print(str(num2))

23.8

In [12]:
num3='45'

In [13]:
print(float(num3))

45.0

In [14]:
name=input('please enter your name:')

please enter your name:desire

In [15]:
age=int(input('please enter your age :'))

please enter your age :19

In [16]:
num1=25
num2=10

In [17]:
print(num1+num2)

35

In [18]:
print(num1-num2)

15

In [20]:
print(num1*num2)

250

In [21]:
print(num1/num2)

2.5

In [22]:
print(num1%num2)

5

In [23]:
print(num1//num2)

2

In [25]:
print(num1**num2)

95367431640625

In [26]:
print(num1>num2)

True

In [27]:
print(num1<num2)

False

In [29]:
print(num1==num2)

False

In [30]:
print(num1>=num2)

True

In [31]:
print(num1<=num2)

False

In [32]:
print(num1>num2 and num1==num2)

False

In [33]:
print(num1>num2 or num1==num2)

True

In [34]:
print(not num1)

False

In [35]:
print('s'in word)

True

In [37]:
print('s'not in word)

False

In [38]:
print(num1 is num2)

False

In [39]:
print(num1 is not num2)

True

In [63]:
num1='458'
print(float(num1))

458.0

In [70]:
name=input('please enter your name:')
name=input('please enter your name:')
name=input('please enter your name:')

please enter your name:desire
please enter your name:prosper
please enter your name:oche

In [45]:
print(word.upper())

POEM

In [50]:
principle=float(input("enter principle:"))

enter principle:5000

In [53]:
rate=float(input("enter rate:"))

enter rate:6

In [55]:
time=float(input("enter time(n years):"))

enter time(n years):3

In [56]:
simple_interest=(principle*rate*time)/100

In [58]:
amount=principle*(pow((1+rate/100),time))

In [59]:
compound_interset=amount-principle

In [60]:
print("simple interest:",simple_interest)

simple interest: 900.0

In [62]:
print("compound interest:",compound_interset)

compound interest: 955.0799999999999

In [1]:
 principle=float(input("enter principle:"))

enter principle:550000

In [2]:
rate=float(input("enter rate:"))

enter rate:5

In [3]:
years=float(input("enter years:"))

enter years:3

In [9]:
interest=(550000*5*1)/100